# .mailmap
Joachim Lugger <jolu.18.05@gmail.com>
David Essl <essl.david@gmail.com>
Pablo Tolazzi <p1tolazzi@edu.aau.at>
Alwin Schuster <Alwin.Schuster@infineon.com>
Alwin Schuster <contact@alwinschuster.at>
Christian Wascher <chwascher@edu.aau.at>
