#.mailmap
Joachim Lugger <joachimlu@edu.aau.at> <jolu.18.05@gmail.com>
Joachim Lugger <joachimlu@edu.aau.at> <59223959+joachim185@users.noreply.github.com>
David Essl <daessl@edu.aau.at> <essl.david@gmail.com>
Alwin Schuster <alwinsc@edu.aau.at> <Alwin.Schuster@infineon.com>
Alwin Schuster <alwinsc@edu.aau.at> <contact@alwinschuster.at>
Alwin Schuster <alwinsc@edu.aau.at> <accounts@alwinschuster.at>
Pablo Tolazzi <p1tolazzi@edu.aau.at> <p1tolazzi@edu.aau.at>
Christian Wascher <chwascher@edu.aau.at> <chwascher@edu.aau.at>
